<!DOCTYPE html>
<html id="top">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>_Huddle</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2.2.2/dist/flickity.min.css" media="screen">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

<script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script src="script.js"></script>  -->

</head>


<body>
<div class="wrapper">

<h2 class="title">Contributions</h2>
<p class="text"> Below you can see all the contributions done to the project. This collection is still growing and being used a source of inspiration for the new versions of the manifesto.
 

</div>
    <div id="real">
        
    </div>




</body>

<script>


const fetchManifest = () => {
    
    console.log("fetch all manifest");
        axios.get('https://underminethroughdesign-device.dataplicity.io/manifest')
            .then(response => {
                var manifest = response.data;
                console.log(response);
                makeUL(manifest);
                
            })
            .catch(error => console.error(error));
    
    
    
    };
    fetchManifest();


    
    let id = [];
    let text = [];
    let name = [];
    let place=[];


 

    function makeUL(activities) {
        // Create the list element:
        var list = document.createElement('ul');
        list.setAttribute("id", "cards");
    
        for(var i = 0; i < activities.length; i++) {
            // Create the list item:
            var card = document.createElement('li');
            card.setAttribute("id", "singleCard");

            // Create the list item:
            var textCard = document.createElement('p');
            textCard.setAttribute("id", "textCardDatabase");
            textCard.appendChild(document.createTextNode(activities[i].text));

            var nameCard = document.createElement('p');
            nameCard.setAttribute("id", "nametextCardDatabase");
            nameCard.appendChild(document.createTextNode(activities[i].name));

            /* var placeCard = document.createElement('p');
            placeCard.setAttribute("id", "locationCardDatabase");
            placeCard.appendChild(document.createTextNode(activities[i][3])); */
            
            
    
            // Add it to the list:
            card.appendChild(textCard);
            card.appendChild(nameCard);
            card.appendChild(placeCard);
        
            list.appendChild(card);     
        }
        console.log(id);
        console.log(text);
        console.log(name);
        console.log(place);
    
        document.getElementById('real').appendChild(list);
    }
    
    // Add the contents of options[0] to #foo:
    

    
    </script>
</html>
