<!DOCTYPE html>
<html>
<head>
<title>Manifest Machine</title>
</head>
<body>

<h1>Democratic manifest machine</h1>
<p>Undermin_through_design by Ilse Pouwels</p>

<h2>Control GPIO 4</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="script.js"></script>
    <script>
        var socket = io.connect(); //load socket.io-client and connect to the host
        function LEDOn() {
            socket.emit("state", 1); //send button state to server
	console.log("button pressed");
        }

        function LEDOff() {
            socket.emit("state", 0); //send button state to server
        }
        socket.on('stream',function(image){
                $('#play').attr('src',image);
                $('#log').text(image);
            });

    </script>

<img id="play">
            </br>
<div id="log"></div>

<textarea id="manifest-input"  rows="4" cols="50">

</textarea>

<input id="name-input"></input>


<button type="button" onclick="onClickSubmit()" >Submit</button>

    <button type="button" id="state" onclick="LEDOff()" style="background-color:red;">OFF</button>
    <button type="button" id="state" onclick="LEDOn()" style="background-color:green;">ON</button>


</body>
</html>
