<!DOCTYPE html>
<html>
<head>
<title>Manifest Machine</title>

<link rel=“stylesheet” type=“text/css” href=“style.css” />
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="script.js"></script>

<script>

// socket connection to server.js
var socket = io.connect(); //load socket.io-client and connect to the host

function LEDOn() {
    socket.emit("state", 1); //send button state to server
console.log("button pressed");
}

function LEDOff() {
    socket.emit("state", 0); //send button state to server
}
socket.on('stream',function(image){
        $('#play').attr('src',image);
        $('#log').text(image);
    });
    
</script>

</head>
<body>

<!-- <div class="videoContainer">
    <video autoplay loop muted class=front_video id="vid">
	    <source src="assets/img/homeBackground2_short.mp4" type="video/mp4"> 
        <source src="video/frontPage.ogv" type="video/ogg">
        <source src="video/frontPage.webm" type="video/webm">            
        <img src="img/front_image.jpg" title="Your browser does not support the <video> tag" />
    </video>
 </div> -->

<h1>Democratic manifest machine</h1>
<p>Undermine_through_design by Ilse Pouwels</p>


<img id="play">
            </br>
<div id="log"></div>


<p id="displayManifest"> This will display the manifest<p>


<a href="https://underminethroughdesign-device.dataplicity.io/edit" class="button">Edit</a>


    <button type="button" id="state" onclick="LEDOff()" style="background-color:red;">OFF</button>
    <button type="button" id="state" onclick="LEDOn()" style="background-color:green;">ON</button>


</body>
</html>
